---
- name: Ensure inventory dir
  file:
    path: "{{ ar_inv_hostname_dest_dir }}"
    state: directory

- name: Create ansible inventory hosts file
  copy:
    content: "{{ ar_inv_hostname_machines | ansible_inventory }}"
    dest: "{{ ar_inv_hostname_dest_dir }}/hosts"

- name: Refresh inventory to ensure seed hosts changes picked up
  meta: refresh_inventory
